// Common font sizes
//
$base-small-font-size: rem-calc($rem-base - 4) // 12
$base-medium-font-size: rem-calc($rem-base - 2) // 14
$base-font-size: rem-calc($rem-base) // 16
$base-large-font-size: rem-calc($rem-base + 2) // 18
$base-xlarge-font-size: rem-calc($rem-base + 4) // 20


// Additional colors
//
$color-orange: #f5e3c5
$color-orange2: #f26b3e
$black2: #191919

//Transition
//
$base-transition: .3s
