/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path

  At the bottom of this section, we provide information about the spritesheet itself
  $spritesheet: width height image $spritesheet-sprites
  */
$check-name: 'check'
$check-x: 294px
$check-y: 102px
$check-offset-x: -294px
$check-offset-y: -102px
$check-width: 8px
$check-height: 15px
$check-total-width: 308px
$check-total-height: 245px
$check-image: 'sprite.png'
$check: (294px, 102px, -294px, -102px, 8px, 15px, 308px, 245px, 'sprite.png', 'check', )
$download-name: 'download'
$download-x: 276px
$download-y: 32px
$download-offset-x: -276px
$download-offset-y: -32px
$download-width: 31px
$download-height: 30px
$download-total-width: 308px
$download-total-height: 245px
$download-image: 'sprite.png'
$download: (276px, 32px, -276px, -32px, 31px, 30px, 308px, 245px, 'sprite.png', 'download', )
$fb-name: 'fb'
$fb-x: 276px
$fb-y: 0px
$fb-offset-x: -276px
$fb-offset-y: 0px
$fb-width: 32px
$fb-height: 32px
$fb-total-width: 308px
$fb-total-height: 245px
$fb-image: 'sprite.png'
$fb: (276px, 0px, -276px, 0px, 32px, 32px, 308px, 245px, 'sprite.png', 'fb', )
$hand-name: 'hand'
$hand-x: 190px
$hand-y: 198px
$hand-offset-x: -190px
$hand-offset-y: -198px
$hand-width: 50px
$hand-height: 26px
$hand-total-width: 308px
$hand-total-height: 245px
$hand-image: 'sprite.png'
$hand: (190px, 198px, -190px, -198px, 50px, 26px, 308px, 245px, 'sprite.png', 'hand', )
$i-name: 'i'
$i-x: 231px
$i-y: 98px
$i-offset-x: -231px
$i-offset-y: -98px
$i-width: 28px
$i-height: 49px
$i-total-width: 308px
$i-total-height: 245px
$i-image: 'sprite.png'
$i: (231px, 98px, -231px, -98px, 28px, 49px, 308px, 245px, 'sprite.png', 'i', )
$icon1-name: 'icon1'
$icon1-x: 52px
$icon1-y: 148px
$icon1-offset-x: -52px
$icon1-offset-y: -148px
$icon1-width: 49px
$icon1-height: 50px
$icon1-total-width: 308px
$icon1-total-height: 245px
$icon1-image: 'sprite.png'
$icon1: (52px, 148px, -52px, -148px, 49px, 50px, 308px, 245px, 'sprite.png', 'icon1', )
$icon2-name: 'icon2'
$icon2-x: 231px
$icon2-y: 51px
$icon2-offset-x: -231px
$icon2-offset-y: -51px
$icon2-width: 39px
$icon2-height: 47px
$icon2-total-width: 308px
$icon2-total-height: 245px
$icon2-image: 'sprite.png'
$icon2: (231px, 51px, -231px, -51px, 39px, 47px, 308px, 245px, 'sprite.png', 'icon2', )
$icon3-name: 'icon3'
$icon3-x: 0px
$icon3-y: 198px
$icon3-offset-x: 0px
$icon3-offset-y: -198px
$icon3-width: 46px
$icon3-height: 47px
$icon3-total-width: 308px
$icon3-total-height: 245px
$icon3-image: 'sprite.png'
$icon3: (0px, 198px, 0px, -198px, 46px, 47px, 308px, 245px, 'sprite.png', 'icon3', )
$icon4-name: 'icon4'
$icon4-x: 147px
$icon4-y: 148px
$icon4-offset-x: -147px
$icon4-offset-y: -148px
$icon4-width: 51px
$icon4-height: 44px
$icon4-total-width: 308px
$icon4-total-height: 245px
$icon4-image: 'sprite.png'
$icon4: (147px, 148px, -147px, -148px, 51px, 44px, 308px, 245px, 'sprite.png', 'icon4', )
$icon5-name: 'icon5'
$icon5-x: 231px
$icon5-y: 0px
$icon5-offset-x: -231px
$icon5-offset-y: 0px
$icon5-width: 45px
$icon5-height: 51px
$icon5-total-width: 308px
$icon5-total-height: 245px
$icon5-image: 'sprite.png'
$icon5: (231px, 0px, -231px, 0px, 45px, 51px, 308px, 245px, 'sprite.png', 'icon5', )
$icon6-name: 'icon6'
$icon6-x: 143px
$icon6-y: 198px
$icon6-offset-x: -143px
$icon6-offset-y: -198px
$icon6-width: 47px
$icon6-height: 34px
$icon6-total-width: 308px
$icon6-total-height: 245px
$icon6-image: 'sprite.png'
$icon6: (143px, 198px, -143px, -198px, 47px, 34px, 308px, 245px, 'sprite.png', 'icon6', )
$icon7-name: 'icon7'
$icon7-x: 94px
$icon7-y: 198px
$icon7-offset-x: -94px
$icon7-offset-y: -198px
$icon7-width: 49px
$icon7-height: 38px
$icon7-total-width: 308px
$icon7-total-height: 245px
$icon7-image: 'sprite.png'
$icon7: (94px, 198px, -94px, -198px, 49px, 38px, 308px, 245px, 'sprite.png', 'icon7', )
$icon8-name: 'icon8'
$icon8-x: 46px
$icon8-y: 198px
$icon8-offset-x: -46px
$icon8-offset-y: -198px
$icon8-width: 48px
$icon8-height: 45px
$icon8-total-width: 308px
$icon8-total-height: 245px
$icon8-image: 'sprite.png'
$icon8: (46px, 198px, -46px, -198px, 48px, 45px, 308px, 245px, 'sprite.png', 'icon8', )
$ii-name: 'ii'
$ii-x: 101px
$ii-y: 148px
$ii-offset-x: -101px
$ii-offset-y: -148px
$ii-width: 46px
$ii-height: 50px
$ii-total-width: 308px
$ii-total-height: 245px
$ii-image: 'sprite.png'
$ii: (101px, 148px, -101px, -148px, 46px, 50px, 308px, 245px, 'sprite.png', 'ii', )
$iii-name: 'iii'
$iii-x: 82px
$iii-y: 98px
$iii-offset-x: -82px
$iii-offset-y: -98px
$iii-width: 61px
$iii-height: 50px
$iii-total-width: 308px
$iii-total-height: 245px
$iii-image: 'sprite.png'
$iii: (82px, 98px, -82px, -98px, 61px, 50px, 308px, 245px, 'sprite.png', 'iii', )
$iv-name: 'iv'
$iv-x: 145px
$iv-y: 49px
$iv-offset-x: -145px
$iv-offset-y: -49px
$iv-width: 85px
$iv-height: 49px
$iv-total-width: 308px
$iv-total-height: 245px
$iv-image: 'sprite.png'
$iv: (145px, 49px, -145px, -49px, 85px, 49px, 308px, 245px, 'sprite.png', 'iv', )
$ix-name: 'ix'
$ix-x: 0px
$ix-y: 98px
$ix-offset-x: 0px
$ix-offset-y: -98px
$ix-width: 82px
$ix-height: 50px
$ix-total-width: 308px
$ix-total-height: 245px
$ix-image: 'sprite.png'
$ix: (0px, 98px, 0px, -98px, 82px, 50px, 308px, 245px, 'sprite.png', 'ix', )
$larr-name: 'larr'
$larr-x: 276px
$larr-y: 138px
$larr-offset-x: -276px
$larr-offset-y: -138px
$larr-width: 21px
$larr-height: 9px
$larr-total-width: 308px
$larr-total-height: 245px
$larr-image: 'sprite.png'
$larr: (276px, 138px, -276px, -138px, 21px, 9px, 308px, 245px, 'sprite.png', 'larr', )
$mastercard-name: 'mastercard'
$mastercard-x: 240px
$mastercard-y: 198px
$mastercard-offset-x: -240px
$mastercard-offset-y: -198px
$mastercard-width: 36px
$mastercard-height: 22px
$mastercard-total-width: 308px
$mastercard-total-height: 245px
$mastercard-image: 'sprite.png'
$mastercard: (240px, 198px, -240px, -198px, 36px, 22px, 308px, 245px, 'sprite.png', 'mastercard', )
$metro-name: 'metro'
$metro-x: 276px
$metro-y: 62px
$metro-offset-x: -276px
$metro-offset-y: -62px
$metro-width: 28px
$metro-height: 20px
$metro-total-width: 308px
$metro-total-height: 245px
$metro-image: 'sprite.png'
$metro: (276px, 62px, -276px, -62px, 28px, 20px, 308px, 245px, 'sprite.png', 'metro', )
$rarr-name: 'rarr'
$rarr-x: 276px
$rarr-y: 147px
$rarr-offset-x: -276px
$rarr-offset-y: -147px
$rarr-width: 21px
$rarr-height: 9px
$rarr-total-width: 308px
$rarr-total-height: 245px
$rarr-image: 'sprite.png'
$rarr: (276px, 147px, -276px, -147px, 21px, 9px, 308px, 245px, 'sprite.png', 'rarr', )
$search-btn-name: 'searchBtn'
$search-btn-x: 292px
$search-btn-y: 122px
$search-btn-offset-x: -292px
$search-btn-offset-y: -122px
$search-btn-width: 16px
$search-btn-height: 16px
$search-btn-total-width: 308px
$search-btn-total-height: 245px
$search-btn-image: 'sprite.png'
$search-btn: (292px, 122px, -292px, -122px, 16px, 16px, 308px, 245px, 'sprite.png', 'searchBtn', )
$star-name: 'star'
$star-x: 276px
$star-y: 122px
$star-offset-x: -276px
$star-offset-y: -122px
$star-width: 16px
$star-height: 16px
$star-total-width: 308px
$star-total-height: 245px
$star-image: 'sprite.png'
$star: (276px, 122px, -276px, -122px, 16px, 16px, 308px, 245px, 'sprite.png', 'star', )
$tw-name: 'tw'
$tw-x: 198px
$tw-y: 148px
$tw-offset-x: -198px
$tw-offset-y: -148px
$tw-width: 32px
$tw-height: 32px
$tw-total-width: 308px
$tw-total-height: 245px
$tw-image: 'sprite.png'
$tw: (198px, 148px, -198px, -148px, 32px, 32px, 308px, 245px, 'sprite.png', 'tw', )
$v-name: 'v'
$v-x: 143px
$v-y: 98px
$v-offset-x: -143px
$v-offset-y: -98px
$v-width: 56px
$v-height: 49px
$v-total-width: 308px
$v-total-height: 245px
$v-image: 'sprite.png'
$v: (143px, 98px, -143px, -98px, 56px, 49px, 308px, 245px, 'sprite.png', 'v', )
$vi-name: 'vi'
$vi-x: 145px
$vi-y: 0px
$vi-offset-x: -145px
$vi-offset-y: 0px
$vi-width: 86px
$vi-height: 49px
$vi-total-width: 308px
$vi-total-height: 245px
$vi-image: 'sprite.png'
$vi: (145px, 0px, -145px, 0px, 86px, 49px, 308px, 245px, 'sprite.png', 'vi', )
$video-name: 'video'
$video-x: 276px
$video-y: 82px
$video-offset-x: -276px
$video-offset-y: -82px
$video-width: 27px
$video-height: 20px
$video-total-width: 308px
$video-total-height: 245px
$video-image: 'sprite.png'
$video: (276px, 82px, -276px, -82px, 27px, 20px, 308px, 245px, 'sprite.png', 'video', )
$vii-name: 'vii'
$vii-x: 0px
$vii-y: 49px
$vii-offset-x: 0px
$vii-offset-y: -49px
$vii-width: 115px
$vii-height: 49px
$vii-total-width: 308px
$vii-total-height: 245px
$vii-image: 'sprite.png'
$vii: (0px, 49px, 0px, -49px, 115px, 49px, 308px, 245px, 'sprite.png', 'vii', )
$viii-name: 'viii'
$viii-x: 0px
$viii-y: 0px
$viii-offset-x: 0px
$viii-offset-y: 0px
$viii-width: 145px
$viii-height: 49px
$viii-total-width: 308px
$viii-total-height: 245px
$viii-image: 'sprite.png'
$viii: (0px, 0px, 0px, 0px, 145px, 49px, 308px, 245px, 'sprite.png', 'viii', )
$visa-name: 'visa'
$visa-x: 231px
$visa-y: 179px
$visa-offset-x: -231px
$visa-offset-y: -179px
$visa-width: 40px
$visa-height: 13px
$visa-total-width: 308px
$visa-total-height: 245px
$visa-image: 'sprite.png'
$visa: (231px, 179px, -231px, -179px, 40px, 13px, 308px, 245px, 'sprite.png', 'visa', )
$vk-name: 'vk'
$vk-x: 199px
$vk-y: 98px
$vk-offset-x: -199px
$vk-offset-y: -98px
$vk-width: 32px
$vk-height: 32px
$vk-total-width: 308px
$vk-total-height: 245px
$vk-image: 'sprite.png'
$vk: (199px, 98px, -199px, -98px, 32px, 32px, 308px, 245px, 'sprite.png', 'vk', )
$x-name: 'x'
$x-x: 0px
$x-y: 148px
$x-offset-x: 0px
$x-offset-y: -148px
$x-width: 52px
$x-height: 50px
$x-total-width: 308px
$x-total-height: 245px
$x-image: 'sprite.png'
$x: (0px, 148px, 0px, -148px, 52px, 50px, 308px, 245px, 'sprite.png', 'x', )
$yd-name: 'yd'
$yd-x: 276px
$yd-y: 102px
$yd-offset-x: -276px
$yd-offset-y: -102px
$yd-width: 18px
$yd-height: 20px
$yd-total-width: 308px
$yd-total-height: 245px
$yd-image: 'sprite.png'
$yd: (276px, 102px, -276px, -102px, 18px, 20px, 308px, 245px, 'sprite.png', 'yd', )
$yt-name: 'yt'
$yt-x: 231px
$yt-y: 147px
$yt-offset-x: -231px
$yt-offset-y: -147px
$yt-width: 32px
$yt-height: 32px
$yt-total-width: 308px
$yt-total-height: 245px
$yt-image: 'sprite.png'
$yt: (231px, 147px, -231px, -147px, 32px, 32px, 308px, 245px, 'sprite.png', 'yt', )
$spritesheet-width: 308px
$spritesheet-height: 245px
$spritesheet-image: 'sprite.png'
$spritesheet-sprites: ($check, $download, $fb, $hand, $i, $icon1, $icon2, $icon3, $icon4, $icon5, $icon6, $icon7, $icon8, $ii, $iii, $iv, $ix, $larr, $mastercard, $metro, $rarr, $search-btn, $star, $tw, $v, $vi, $video, $vii, $viii, $visa, $vk, $x, $yd, $yt, )
$spritesheet: (308px, 245px, 'sprite.png', $spritesheet-sprites, )

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)

  Here are example usages in HTML:
    `display: block` sprite:
      <div class="icon-home"></div>

    `display: inline-block` sprite:
      <img class="icon-home" />
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(../images/#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

/*
  The `sprites` mixin generates identical output to the CSS template
    but can be overridden inside of SASS

  @include sprites($spritesheet-sprites)
  */
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
