<footer>
    <div class="container row">
        <div class="row">
            <div class="footer-contacts columns medium-3">
                <div class="phone"><a href="tel:+74952013595">+7 495 201 35 95</a></div>
                <div class="email">Почта: <a class="link-reverse" href="mailto:start@smartcourse.ru" >start@smartcourse.ru</a></div>
                <div class="social-links">
                    <a href="#" target="_blank" class="icon icon-vk"></a>
                    <a href="#" target="_blank" class="icon icon-tw"></a>
                    <a href="#" target="_blank" class="icon icon-fb"></a>
                    <a href="#" target="_blank" class="icon icon-yt"></a>
                </div>
            </div>
            <div class="footer-map columns medium-6">
                <a href="#" class="mini-map"><img src="images/mini-map.png" alt="map"></a>
                <div class="map-name">
                    <i class="icon icon-metro"></i> Павелецкая
                </div>
                <p>Садовническая улица 76/71, строение 1</p>
            </div>
            <div class="footer-by columns medium-3">
                <p>
                    Cпроектировано и реализовано <a href="#" class="link-reverse">Бракодельней</a> и
                    <a href="#" class="link-reverse">ЛидМашиной</a>
                </p>
                <div class="logos">
                    <a href="#"><img src="images/br-logo.png" alt="Бракодельня"></a>
                    <a href="#"><img src="images/lid-logo.png" alt="Лидмашина"></a>
                </div>
            </div>
        </div>
    </div>
</footer>