<header class="header-revert">
    <div class="container">
        <a class="logo" href="index.html"><img src="images/logo-revert.png" alt="Smart Course"></a>
        <a class="phone" href="tel:+74952013595">+7 495 201-35-95</a>
        <nav class="main-nav">
            <ul>
                <li><a href="#">Мероприятия</a></li>
                <li><a href="#">Онлайн</a></li>
                <li><a href="b2b.html">B2B</a></li>
                <li><a href="agency.html">Представители</a></li>
                <li><a href="vacantions.html">Вакансии</a></li>
                <li><a href="knowledge_base.html">База знаний</a></li>
            </ul>
        </nav>
        <ul class="lang-select">
            <li class="active"><a href="#">Русский</a></li>
            <li><a href="#">English</a></li>
        </ul>
    </div>
</header>