.tags-list
  padding:
    top: $vertical-gutter / 2
    bottom: $vertical-gutter / 2

  &.white
    .tag
      color: $white
      border-color: $white
      &:hover
        color: $white
        background: rgba($white, .1)

  &.small
    padding:
      top: $vertical-gutter / 2
      bottom: $vertical-gutter / 2
    .tag
      font-size: $base-small-font-size
      line-height: $base-small-font-size
      text-transform: uppercase
      padding-top: 0.16rem
      letter-spacing: 1px

  &.black-font
    .tag
      color: $black

.tag
  display: inline-block
  vertical-align: middle
  text-transform: lowercase
  padding:
    left: $vertical-gutter / 2
    right: $vertical-gutter / 2
  margin: $vertical-gutter / 4
  color: $color-brown
  border: 1px solid $color-brown
  border-radius: $global-radius
  transition: background $base-transition ease
  &:first-child
    margin-left: 0
  &:hover
    color: $color-brown
    background: rgba($color-brown, .1)
