.vtabs

  .menu
    margin-bottom: $vertical-gutter
    .active
      a
        color: $color-orange2
        text-decoration: none
        border-bottom: none

  .vtab
    display: none

.facts
  padding: $vertical-gutter 0
  span
    font-family: $base-serif-font
    font-weight: bold
    font-size: rem-calc(36)
    line-height: 1
    display: block

// Foundation tabs own styles
.tabs-content
  .tabs-panel
    display: none
    &.is-active
      display: block