.big-banner
  margin:
    left: auto
    right: auto
  padding-bottom: $vertical-gutter * 6
  color: $white
  text-shadow: 0 1px 3px rgba($black, 0.4)
  &.big-banner-map
    background: url("../images/banners/1.jpg") center top no-repeat
    background-size: cover

  h1
    margin-bottom: $vertical-gutter * 4

.features
  .features-item
    margin-bottom: $vertical-gutter
  span
    font-family: $base-serif-font
    font-size: rem-calc(36)
    font-weight: bold
    display: block
    white-space: nowrap