.choice-system
  width: 100%
  height: 100vh
  margin-bottom: 110vh

  &.fixed
    .white-bg,
      position: fixed
      width: 100%

    .white-bg
      top: 0
      margin-top: 0

    .black-bg
      z-index: 5
      display: block
      overflow: hidden

  header,
  .white-bg
    position: absolute
    left: 0
    width: 100%
    top: 0

  header
    margin-bottom: 0
    z-index: 5

  .attributes-block
    position: absolute
    bottom: 0
    left: 0
    width: 100%

    section
      margin-bottom: 20px

  .man-image
    position: absolute
    left: 49%
    transform: translateX(-50%)
    top: 40px

  .white-bg
    background: url('../images/content/man-back.png') center top no-repeat
    z-index: 3
    height: 100vh
    padding-top: 97px
    margin-top: 110vh

  .black-bg
    display: none
    width: 100%
    height: 100vh
    position: relative
    padding-top: 97px
    background: #191f28 url('../images/content/man-back-black.png') center top no-repeat

    .layer-content
      font-family: "Jannon"
      font-style: italic
      color: #fff
      position: relative
      height: 100%

      .question-item
        position: absolute
        cursor: default
        white-space: nowrap
        margin-top: -97px

        .question-text
          font-size: 48px
          font-weight: bold

        .sub-question-item
          font-size: 15px
          color: #515358
          position: absolute

        &.item-1
          left: 25%
          top: 15%

          .sub-question-item
            &.item-1
              left: -100%
              top: -40%

            &.item-2
              left: 50%
              top: -20%

            &.item-3
              left: 125%
              top: 45%

            &.item-4
              left: -120%
              top: 50%

            &.item-5
              bottom: -25%
              left: 50%

        &.item-2
          left: 5%
          top: 34%

          .sub-question-item
            &.item-1
              left: 0
              top: -75%

            &.item-2
              left: 40%
              top: -37%

            &.item-3
              left: -15%
              top: 100%

            &.item-4
              left: 55%
              top: 120%

        &.item-3
          left: 17%
          top: 54%

          .sub-question-item
            &.item-1
              left: -71%
              top: -44%

            &.item-2
              left: -115%
              top: 40%

            &.item-3
              left: -60%
              top: 100%

            &.item-4
              left: 85%
              top: 80%

        &.item-4
          left: 68%
          top: 23%

          .sub-question-item
            &.item-1
              left: 40%
              top: -105%

            &.item-2
              left: 76%
              top: -60%

            &.item-3
              left: -19%
              top: -38%

            &.item-4
              left: 22%
              top: 90%

            &.item-5
              left: 5%
              top: 130%

            &.item-6
              left: 73%
              top: 130%

        &.item-5
          left: 64%
          top: 47%

          .sub-question-item
            &.item-1
              left: 82%
              top: -65%

            &.item-2
              left: -5%
              top: -25%

            &.item-3
              left: 80%
              top: 105%

            &.item-4
              left: 10%
              top: 135%

    .attributes-block
      color: $white

    header
      .phone
        color: $white

// .black-head-block
//   position: relative
//   //top: 0
//   //left: 0
//   width: 100%
//   z-index: 1
//   //overflow: hidden
//
//   section
//
//     color: $white
//     margin-bottom: 0
//
