// Header Variables
// ----------

//$header-base-padding: $global-padding
//$header-base-margin: $global-margin
//$header-base-black-color: $black
//
//$header-phone-color: $header-base-black-color
//$header-phone-fontsize: $base-xlarge-font-size
//
//$main-nav-link-color: $primary-color
//$main-nav-link-font-size: $base-small-font-size
//
//$lang-select-font-size: $base-small-font-size
//$lang-select-item-margin: $header-base-margin / 4
//$lang-select-item-padding: rem-calc(5)
//$lang-select-item-border-radius: rem-calc(5)
//$lang-select-active-font-color: $header-base-black-color
//$lang-select-active-background: $color-orange





header
  padding: $header-base-padding 0
  margin-bottom: $header-base-padding
  position: relative

  .container
    display: flex
    flex-wrap: wrap
    align-items: baseline


  .logo
    margin-right: $header-base-margin

  .phone
    color: $header-phone-color
    margin-right: $header-base-margin
    font-family: $header-phone-font-family
    font-size: $header-phone-font-size
    font-weight: bold

  img
    vertical-align: baseline

  .main-nav
    flex-grow: 1

.main-nav
  margin-bottom: $vertical-gutter
  &>ul
    +menu-simple
    margin: 0

    &>li
      position: relative
      margin: 0
      &.has-child
        &:hover
          background: $color-orange
          border-radius: $global-radius  $global-radius 0 0
          ul
            display: block
      &>a
        display: inline-block
        padding:
          top: $vertical-gutter / 2
          left: $vertical-gutter / 2
          right: $vertical-gutter / 2
          bottom: 0
      &>ul
        display: none
        position: absolute
        z-index: 2
        margin: 0
        background: $color-orange
        border-radius: 0 $global-radius $global-radius  $global-radius
        padding:
          top: $vertical-gutter / 4
          left: $vertical-gutter / 2
          right: $vertical-gutter / 2
          bottom: $vertical-gutter / 2
        a
          text-transform: none
          white-space: nowrap

  a
    font-size: $main-nav-link-font-size
    text-transform: uppercase
    text-decoration: underline

    &:hover
      text-decoration: none

.lang-select
  +menu-simple
  margin: 0
  font-size: $lang-select-font-size

  li
    padding: $lang-select-item-padding
    border-radius: $lang-select-item-border-radius
    margin: 0 $lang-select-item-margin

    &.active
      background: $lang-select-active-background

      a
        color: $lang-select-active-font-color

.header-revert
  .phone
    color: $white

  .main-nav
    a
      color: $primary-color4

  .lang-select
    li.active
      background: $white

