.online-products
  padding:
    top: $vertical-gutter * 4
    bottom: $vertical-gutter * 4
  color: $white
  background: url("../images/backs/dark-back.jpg") center center no-repeat
  background-size: cover