*
  box-sizing: border-box

//html
//  height: 100%
//
//body
//  height: 100%
//  display: flex
//  flex-direction: column

main
  padding-bottom: $global-padding * 4
//  flex-grow: 1

h1, h2, h3, h4, h5
  //word-break: break-all
  &.small-margin
    margin-bottom: .1em
  &.big-margin
    margin-bottom: 2em
  &.primed
    color: $color-orange2
  span
    font-family: $base-sans-font
    font-size: rem-calc(15)
    display: block
    padding: ($vertical-gutter / 2) 0
  a
    text-decoration: underline
    color: $color-orange2
    &:hover
      color: $color-orange2
      text-decoration: none

.global-margin
  margin-bottom: $vertical-gutter

img
  display: inline-block
  &.wide
    width: 100%

a.link-reverse
  text-decoration: underline
  &:hover
    text-decoration: none
    color: inherit

address
  font-style: normal

main,
section,
.container
  +grid-col-row()
  float: none !important
  +clearfix

.content
  font-size: rem-calc(15)

.page-heading
  margin-bottom: 2rem

// Some blocks
.how-to-call-about
  img
    margin-bottom: $vertical-gutter * 2
  +breakpoint(medium)
    .plus-img
      margin-top: 45%
    .letter-img
      margin-top: -23%

section
  margin-bottom: $vertical-gutter * 4
  &.wide
    max-width: rem-calc(1200)
    padding:
      left: 0
      right: 0

.course-steps
  h1
    margin-bottom: $vertical-gutter / 2
  .columns
    padding:
      top: ($vertical-gutter * 2)
      bottom: $vertical-gutter
    .icon
      margin-bottom: $vertical-gutter

.roma-digit
  color: $color-orange2
  font-weight: bold
  font-family: $base-serif-font
  font-size: rem-calc(60)

.page-selector
  text-align: center
  margin-bottom: $vertical-gutter * 4
  font-size: $base-xlarge-font-size
  font-family: $base-serif-font
  font-weight: bold
  a
    text-decoration: underline
    display: inline-block
    vertical-align: baseline
    &.active
      text-decoration: none
      color: inherit
      padding: 0 ($vertical-gutter / 2)
      border-radius: $global-radius
      background: $color-orange

.video-link
  padding:
    top: $vertical-gutter / 2
    right: $vertical-gutter
    bottom: $vertical-gutter / 2
  a
    font-family: $base-serif-font
    font-size: $base-xlarge-font-size
    text-decoration: underline
    display: block
  span
    display: block
    text-transform: uppercase
    font-size: $base-small-font-size
    letter-spacing: 1.4px

.small-caption
  color: $medium-gray2
  font-size: $base-small-font-size

.content-block
  margin-bottom: $vertical-gutter / 2

.small-input
  height: $vertical-gutter * 1.6


.search-form
  position: relative
  margin: ($vertical-gutter * 1.5) 0

  .search-input
    margin-bottom: 0

  .search-button
    position: absolute
    top: 5px
    right: 5px
    background: none
    border: none
    padding: 0
    font-size: 0
    +sprite($search-btn)

.subscribe
  padding: ($vertical-gutter * 2) ($vertical-gutter * 1.5)
  border: 2px solid $color-orange2
  border-radius: $global-radius


// Template with sidebar
// ----------
.side-bar
  +grid-column(3)

  .side-bar-block
    margin-bottom: $vertical-gutter * 2

.content-bar
  +grid-column(9)